In [10]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [18]:
df['spam']=df['Category'].apply(lambda x: 1 if x =='spam' else 0)
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.2)

In [31]:
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
v=CountVectorizer()

In [33]:
from sklearn.naive_bayes import MultinomialNB

In [34]:
model=MultinomialNB()

In [39]:
emails=[
    'Hey mohan, can we get together to watch football game tommorow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

In [40]:
from sklearn.pipeline import Pipeline

In [41]:
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [42]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [43]:
clf.score(x_test,y_test)

0.9811659192825112

In [44]:
clf.predict(emails)

array([0, 1], dtype=int64)