In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [15]:
df=pd.read_csv('area_age_br_price.csv')
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [16]:
import math
median_bed=math.floor(df.bedroom.median())
median_bed

3

In [21]:
df.bedroom=df.bedroom.fillna(median_bed)

In [23]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [24]:
reg=LinearRegression()
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

In [28]:
reg.predict([[3000,3,40]])
reg.predict([[2500,4,5]])

array([588625.])

In [29]:
reg.score(df[['area','bedroom','age']],df.price)

0.9488817891373802